.pv-portfolios {
  padding: 24px;
}

mat-card {
  padding: 16px;
}
table {
  width: 100%;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.empty-message {
  text-align: center;
  padding: 2rem;
  color: #666;
  font-size: 1rem;
}
