.pv-portfolio-details {
  padding: 24px;

  h2 {
    margin-bottom: 16px;
    font-weight: 600;
  }

  mat-card {
    padding: 16px;
  }

  table {
    width: 100%;
  }

  th {
    font-weight: 500;
  }

  td,
  th {
    padding: 8px 4px;
  }
}
